.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/cipff.svg');
  background-position: -70px 270px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 130% auto;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.forget-password-container {
  width: 420px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 30px 40px;
  padding-top: 0;
  position: absolute;
  top: 90px;
  padding-bottom: 0px;
}

.forget-password-container h1 {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 28px;
  text-align: center;
  margin-bottom: -20px;
  color: #fff;
}

.forget-password-container .input-box {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 15px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  margin-top: 6px;
  color: #fff;
}

.forget-password-container button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.forget-password-container .message {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.forget-password-container .message a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.forget-password-container .message a:hover {
  text-decoration: underline;
}

.forget-password-container .success {
  color: #4caf50;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.forget-password-container .error {
  color: #f44336;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
