.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/lnbg2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.forget-password-container {
  width: 420px;
  background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.1), 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 30px 40px;
  color: #000000;
}

.forget-password-container h1 {
  font-size: 36px;
  text-align: center;
  color: #e0e0e0;
}

.forget-password-container .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-box input::placeholder {
  color: #b0b0b0;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #b0b0b0;
}

.forget-password-container button {
  width: 100%;
  height: 45px;
  background: linear-gradient(145deg, #ffffff, #d4d4d4);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), inset 0px -2px 5px rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.forget-password-container button:hover {
  background: linear-gradient(145deg, #e0e0e0, #c0c0c0);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5), inset 0px -2px 5px rgba(255, 255, 255, 0.7);
}

.forget-password-container .message {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.forget-password-container .message a {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: 600;
}

.forget-password-container .message a:hover {
  text-decoration: underline;
}

.forget-password-container .success {
  color: #4caf50;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.forget-password-container .error {
  color: #f44336;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
